* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Variables */

:root {
  --primary-dark-color: #1c2b36;
  --primary-light-color: #f5e6d3;
  --text-color-light: #f5e6d3;
  --text-color-dark: #1c2b36;
  --hover-dark-color: #2e3e4b;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Lato", sans-serif;
  --border-radius-small: 0.313em; /* 5px */
  --border-radius-medium: 0.625em; /* 10px */
  --border-radius-big: 0.938em; /* 15px */

  @media (prefers-color-scheme: dark) {
    --primary-dark-color: #0b141a;
    --primary-light-color: #452a3a;
  }
}

/* Theme Toggle with JS */

.dark-theme {
  --primary-dark-color: #0b141a;
  --primary-light-color: #452a3a;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-color-dark);
  font-family: var(--primary-font);
}

.inner {
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: var(--primary-dark-color);
  padding: 1.25em 0.625em;
}

.header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625em;

  a {
    color: var(--text-color-light);
    font-size: 1.3rem;
  }

  img {
    border-radius: var(--border-radius-medium);

    @media (max-width: 650px) {
      justify-content: center;
    }
  }

  .menu {
    display: flex;
    gap: 1.563em;
  }

  @media (max-width: 650px) {
    .menu {
      display: block;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background: var(--primary-dark-color);
      color: var(--text-color-light);
      list-style: none;
      padding-top: 4em;
      text-align: center;
    }

    .menu li {
      padding-bottom: 0.625em;
    }

    .show-menu {
      transform: translateY(0);
    }
  }

  .moon-logo {
    cursor: pointer; /* Give some clickable effects */

    @media (max-width: 650px) {
      display: none;
    }
  }
}

/* Hamburger Menu */

.hamburger {
  display: none;
}

@media (max-width: 650px) {
  .hamburger {
    display: block;
    /* position: fixed; */
    z-index: 100;
    right: 1em;
    padding: 0.25em;
    border: var(--primary-dark-color) solid 1px;
    background: white;
    cursor: pointer;
    border-radius: var(--border-radius-small);

    .close-icon {
      display: none;
    }

    .menu-icon {
      display: block;
    }

    .material-icons {
      font-size: 1.875rem;
    }
  }
}

main {
  flex-grow: 1;
  background-color: var(--primary-light-color);
}

.index-main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: center;

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    color: var(--text-color-light);
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-dark-color);
    padding: 0.625em 1.25em;
    font-size: 1.563rem;
    text-align: center;
    border-radius: var(--border-radius-medium);
    cursor: pointer;

    &:hover {
      background-color: var(--hover-dark-color);
    }

    @media (max-width: 650px) {
      font-size: 1.063rem;
    }
  }

  .inner-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    font-family: var(--secondary-font);
  }
}

.description > div {
  display: flex;
  gap: 1.875em;
  padding: 1.25em;

  @media (max-width: 650px) {
    flex-direction: column;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--text-color-light);
  }

  .description-box {
    display: flex;
    gap: 1.875em;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    text-align: center;
  }

  p {
    font-family: var(--secondary-font);
    line-height: 1.5rem;
    align-self: center;
    font-size: 1.125rem;
    text-align: justify;
  }

  img {
    width: 50%;
    border-radius: var(--border-radius-big);

    @media (max-width: 650px) {
      width: 100%;
    }
  }
}

footer {
  background-color: var(--primary-dark-color);
  padding: 1.25em 0.625em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625em;

  p {
    color: var(--text-color-light);
  }

  ul {
    display: flex;
    gap: 1.25em;
  }

  .social-logo {
    filter: invert(92%) sepia(11%) saturate(610%) hue-rotate(329deg)
      brightness(103%) contrast(92%);
  }
}

/* Cats */

.cats-title {
  text-align: center;
  padding: 1.563em 0;

  @media (prefers-color-scheme: dark) {
    color: var(--text-color-light);
  }
}

.cat-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875em;
  padding-bottom: 2.813em;
  padding: 1.25em 1.25em 2.813em 1.25em;
}

.cat-info .header-box {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  /* Order:1 here im media queries  */
}

.cat-card {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  background: #f5efe6;
  border-radius: var(--border-radius-big);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1.25em;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

/* Check where to put this media */
@media (max-width: 650px) {
  .cat-card:nth-child(even) .header-box {
    order: 1;
  }
}

.header-main-box {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  @media (max-width: 650px) {
    flex-direction: row;
  }
}

.cat-card img {
  border-radius: var(--border-radius-medium);
  width: 200px;
  height: 140px;
  border: 1px solid var(--primary-dark-color);
}

.cat-card button {
  padding: 0.625em 0;
  border-radius: var(--border-radius-medium);
  border: none;
  background-color: var(--primary-dark-color);
  color: var(--text-color-light);
  cursor: pointer;

  &:hover {
    letter-spacing: 1px;
    background-color: var(--hover-dark-color);
  }
}

.cat-info h2 {
  align-self: center;
  order: 1;
}

.main-info {
  display: flex;
  justify-content: space-between;
  gap: 1.563em;

  @media (max-width: 650px) {
    align-self: center;
    line-height: 1.5em;
  }
}

.categories > li {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 0.875rem;
}

.description > li {
  font-size: 0.813rem;
}
